<section class="vertical-flex">

   <div class="text-container">
        <h2>About</h2>

        <p>This app was created and developed my John Marlett.
            for more about me, or to get in touch, visit my website at 
        <a href="http://classicalmarlett.org">classicalmarlett.org</a>

        </p>
        <p>        
        If you are classisict and have concerns about the accuracy of this Odyssey
        because of chronological or thematic conflicts, first, I applaud you. Secondly, 
        my riposte will be Levi Strauss's Structuralist argument of mythical constituents.
        The central logic of this app assumes the Structuralist view whether I personally condone it or not.
        </p>
    </div>

</section>