/**
Title:  Css for MyOdysseyApp
Author: John Marlett
Date started: 10/3/2016
**/

html, body, div, span, applet, object, iframe, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, label, legend, main, p, blockquote, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  display: block; }

html{
  background-color: #EEE1D7;
  font-size: 16px; }
  
img {
    object-fit:contain;
    width:100%; }

section { height:auto; }

header{
    
}
  
body {
    height:100%;
    font-family: Arial, sans-serif;
    background-color: transparent; }

.spacer {
    height: 60%;
    width: 100%;
    display: block; }

a { color:#000000;
    text-decoration: none; }
    
h1, h2 {
    text-align: center; }
    
.app-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.app-header h1{
    margin: 0.25em auto;
    color: #ffffff; }
    
.vertical-flex{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch; }

.standard {
    height: 22.33%; }
    
.vertical-flex h2, .vertical-flex p {
    margin: auto 0.75em;
}

.horizontal-flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
}

.nav-view{
    margin: 0.25em auto auto auto;
    padding: 0.5em;
    background-color: #C04F1F;
    border-radius: 0.35em;
    width: 35%;
    color: #ffffff;
    font-size: 1.3em;
    text-align: center; }

.nav-descriptor{
    margin: 1em auto 0 auto;
    width: 90%;
    background-color: #C04F1F;
    color: #ffffff;
    border-radius: 0.35em;
    padding: 0.5em;
    text-align: center; }

.nav-descriptor h2 {
    font-size: 1.3em; }
    
.nav-descriptor p {
    font-size: 1em; }

.text-container{
    margin: 0.25em auto 0 auto;
    width: 90%;
    padding: 0.5em;
    color: #ffffff;
    background-color: #FA8242;
    border-radius: 0.35em;
    text-align: center; }
    
.text-container > h2 {
    font-size: 1.3em;       }

.text-container > p {
    font-size: 1em;
    padding: 0.5em;
    border-top: 1px solid #ffffff; }
    
.statistic-container {
    margin: 1em auto 0 auto;
    width: 90%;
    padding: 0.5em;
    border-radius: 0.35em;
    color: #ffffff;
    background-color: #C04F1F; }
    
.stat-display {
    margin: auto;
    padding: 0.25em;
    width: 21%;
    height: 2.4em;
    background-color: #EEE1D7;
    color:#C04F1F;
    border-radius: 0.35em;
    text-align: center; }

.expand-button {
    
}