/**
Title:  Css for MyOdysseyApp
Author: John Marlett
Date started: 10/3/2016
**/

html, body, div, span, applet, object, iframe, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, label, legend, main, p, blockquote, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  display: block; }

html{
  height: 100%;
  background-color: #EEE1D7;
  font-size: 16px; }
  
img {
    object-fit:contain;
    width:100%;
    height: 10em; }

section { height:auto; }

header{
    
}
  
body {
    height:100%;
    font-family: Arial, sans-serif;
    background-color: transparent; }

.spacer {
    height: 80%;
    width: 100%;
    display: block; }

a { color:#000000;
    text-decoration: none; }
    
h1, h2 {
    text-align: center; }
    
.app-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.app-header h1{
    margin: 0.25em auto;
    color: #ffffff;
    text-shadow: 0px 1px 5px #CB3F23; }
    
.vertical-flex{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch; }

.standard {
    height: 20%; }
    
.vertical-flex h2, .vertical-flex p {
    margin: auto 0.75em;
}

.horizontal-flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
}

.nav-view{
    margin: auto auto 0em auto;
    padding: 0.5em;
    background-color: #000000;
    border-radius: 0.35em;
    width: 35%;
    color: #ffffff;
    font-size: 1.3em;
    text-align: center; }
    
.black-rounded{
    padding: 0.5em;
    background-color: rgba(0,0,0, 0.85);
    border-radius: 0.35em; }
    
.red-rounded {
    padding: 0.5em;
    /*background-color: #F3A04D;*/
    background-color: rgba(203,63,35, 0.85);
    border-radius: 0.35em; }

.orange-rounded{
    padding: 0.5em;
    /*background-color: #CB3F23;*/
    background-color: rgba(243,160,77, 0.85);
    border-radius: 0.35em; }

.plus-font-size{
    font-size: 1.1em; }

.space-around{
    margin: 0.5em;
}

.text-container{
    position: relative;
    margin: 0.25em auto 0 auto;
    width: 90%;
    padding: 0.5em;
    color: #ffffff;
    background-color: #F3A04D;
    border-radius: 0.35em;
    text-align: center; }
    
.game-view-image{
    position: absolute;
    top: 1em;
    left: 0.5em;
    height:80%;
    width: 95%;
    margin: auto;
    z-index: 0;  }

.tint{
    position: absolute;
    top: 1em;
    left: 0.5em;
    height:80%;
    width: 95%;
    background: rgba(243,160,77, 0.35);
    z-index:1; }
    
.game-view-container{
    height:80%; }
    
.text-container > h2 {
    z-index: 2;
    font-size: 1.3em;       }

.text-container > p {
    z-index: 1;
    font-size: 1.1em;
    padding: 0.5em;
    border-top: 1px solid #ffffff; }

.text-container > div, a {
    z-index: 2; }

.view-shell{
    z-index:2; }
       
.statistic-container {
    margin: auto auto 0 auto;
    width: 90%;
    padding: 0.5em;
    border-radius: 0.35em;
    color: #ffffff;
    background-color: #CB3F23; }
    
.stat-display {
    margin: auto;
    padding: 0.25em;
    width: 21%;
    height: 2.4em;
    background-color: #EEE1D7;
    color:#000000;
    border-radius: 0.35em;
    text-align: center; }

.expand-button {
    
}