<section class="vertical-flex">
    
 <!--    <div ng-repeat="message in messages" class="text-container">
        <h2 ng-click="showIntro = message.logic[0]; showResolve = message.logic[1] ; showHealth = false  ; showArete = false; showMen = false">{{message.name}}</h2>
        <p ng-show="showHealth">{{message.message}}</p>
    </div>  -->

    <div class="text-container">
        <h2 ng-click="showIntro = messages[0].logic[0]; showResolve = false ; showHealth = false  ; showArete = false; showMen = false" ng-init="showIntro = true">Intro</h2>
        <p ng-show="showIntro">Welcome to the Odyssey App. While navigating Odysseus homeward, watch your resources displayed at
        the bottom of the screen. If you are running low choose carefully to survive.</p>
    </div>

    <div class="text-container">
        <h2 ng-click="showIntro = false; showResolve = false ; showHealth = true  ; showArete = false; showMen = false">Health</h2>
        <p ng-show="showHealth">{{healthMessage}}</p>
    </div>

    <div class="text-container">
        <h2 ng-click="showIntro = false; showResolve = true ; showHealth = false  ; showArete = false; showMen = false ">Resolve</h2>
        <p ng-show="showResolve">{{resolveMessage}}</p>
    </div>

    <div class="text-container">
        <h2 ng-click="showIntro = false; showArete = true ; showHealth = false ; showResolve = false; showMen = false">Arete</h2>
        <p ng-show="showArete">{{areteMessage}}</p>
    </div>
    
        <div class="text-container">
        <h2 ng-click="showIntro = false; showArete = false ; showHealth = false ; showResolve = false; showMen = true">Men</h2>
        <p ng-show="showMen">{{menMessage}}</p>
    </div>
    <a class="nav-view" ui-sref="game"> Play</a>

</section>

